In [7]:
import numpy as np
import pandas as pd

s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

dates = pd.date_range("20130102", periods=6)
print(dates)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
DatetimeIndex(['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05',
               '2013-01-06', '2013-01-07'],
              dtype='datetime64[ns]', freq='D')

In [48]:
dates = pd.date_range(start="20130102", end="20210131")
print(dates)

DatetimeIndex(['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05',
               '2013-01-06', '2013-01-07', '2013-01-08', '2013-01-09',
               '2013-01-10', '2013-01-11',
               ...
               '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25',
               '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29',
               '2021-01-30', '2021-01-31'],
              dtype='datetime64[ns]', length=2952, freq='D')

In [51]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [224]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  1.377535  0.185133  0.480404  1.009735
2013-01-02 -1.304179  1.251398  0.128952 -1.419568
2013-01-03  0.137473  0.666497 -0.817520  0.660033
2013-01-04 -1.050516  0.534993  0.831574  0.677799
2013-01-05 -0.848885  0.002536  0.869314 -0.441978
2013-01-06 -0.509995  0.647073  1.308450  0.969475

In [152]:
df = pd.DataFrame(np.random.rand(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.648966  0.451974  0.971346  0.157397
2013-01-02  0.478468  0.699661  0.042423  0.342167
2013-01-03  0.440483  0.927211  0.572133  0.430152
2013-01-04  0.113483  0.507868  0.212177  0.617345
2013-01-05  0.297664  0.054876  0.083514  0.370005
2013-01-06  0.109192  0.237240  0.195105  0.275655

In [219]:
df = pd.DataFrame(np.random.ranf(), index=dates, columns=list("ABCDE"))
df

                   A         B         C         D         E
2013-01-01  0.587397  0.587397  0.587397  0.587397  0.587397
2013-01-02  0.587397  0.587397  0.587397  0.587397  0.587397
2013-01-03  0.587397  0.587397  0.587397  0.587397  0.587397
2013-01-04  0.587397  0.587397  0.587397  0.587397  0.587397
2013-01-05  0.587397  0.587397  0.587397  0.587397  0.587397
2013-01-06  0.587397  0.587397  0.587397  0.587397  0.587397

In [362]:
df = pd.DataFrame(np.random.random_integers(3, 5), index=dates, columns=list("ABCDE"))
df

C:\Users\user\AppData\Local\Temp\ipykernel_15956\1702132373.py:1: DeprecationWarning: This function is deprecated. Please call randint(3, 5 + 1) instead
  df = pd.DataFrame(np.random.random_integers(3, 5), index=dates, columns=list("ABCDE"))

            A  B  C  D  E
2013-01-01  4  4  4  4  4
2013-01-02  4  4  4  4  4
2013-01-03  4  4  4  4  4
2013-01-04  4  4  4  4  4
2013-01-05  4  4  4  4  4
2013-01-06  4  4  4  4  4

In [341]:
df = pd.DataFrame(np.random.randint(5, 10), index=dates, columns=list("ABCDE"))
df

            A  B  C  D  E
2013-01-01  9  9  9  9  9
2013-01-02  9  9  9  9  9
2013-01-03  9  9  9  9  9
2013-01-04  9  9  9  9  9
2013-01-05  9  9  9  9  9
2013-01-06  9  9  9  9  9

In [73]:
np.random.shuffle